@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root { /*it is used to represent the highest level parent element in the  HTML doc. */
    --line-border-fill: rgb(114, 196, 7); /* this are variables /css variables . used with tag where we wanna apply this  */
    --line-border-empty: #ff009d;
  
  }
  * {
    box-sizing: border-box; /*its used for consistent sizing,simplifies layout calculations and  and responsive design */
  }
  body {
    background-color: #f1f1f1;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  .container {
    text-align: center;
    border: solid 3px rgba(128, 128, 128, 0.253);
    padding: 28vh;
    border-radius: 15vh;
    background-color: white;
    z-index: 1;
  }
  .progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
  }
  .progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    
  }
  .progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1; /*determining which elements appear in front or behind others.it means it on top of the line border*/
    transition: 0.4s ease;
    
  }
  .circle {
    background-color: #f1f1f1;
    color:#a9aaa9;
    border-radius: 20%;
    height: 30px;
    width: 30px;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
    
  }
  .circle.active {
    border-color: var(--line-border-fill);
    height: 50px;
    width: 50px;
    margin-top: 10px;
    
   
  }
  .btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
  }
  .btn:active {
    transform: scale(0.70);
  }
  .btn:focus {
    outline: 0;
  }
  .btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
  }      